<h2>Vacation Photo Contest</h2>
<div id="vacationPhoto-form">
    <form id='upload-form' class="form-horizontal" role="form" enctype="multipart/form-data">
        <div class="form-group">
            <label for="fieldName" clas="col-sm2 control-label">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fieldName" name="name">
            </div>
        </div>

        <div class="form-group">
            <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="fieldEmail" name="email" required>
            </div>
        </div>

        <div class="form-group">
            <label for="fieldPhoto" calss="col-sm-2 control-label">Vacation Photo</label>
            <div class="col-sm-4">
                <input type="file" class="form-control" accept="image/*" id="fieldPhoto" name="photo" required>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>

    </form>
</div>

<script>
    const formTag = document.getElementById('upload-form');
    formTag.addEventListener('submit', (e) => {
        // 기본적으로 form 태그에서 제공하는 폼 전송 이벤트 취소
        e.preventDefault();

        // API 호출을 위한 폼 데이터 정의
        const form = e.target;
        const formData = new FormData(form);

        const headers = {'Content-Type': 'application/json'};

        // fetch api를 이용하여 직접 서버 호출
        const container = document.getElementById('vacationPhoto-form');
        fetch('/api/vacation-photo-contest/{{year}}/{{month}}', {
            method: 'post',
            body: formData,
        }).then(res => {
            if(res.status < 200 || res.status >= 300) {
                throw new Error(`Request Failed with status ${res.status}`);
            }
            return res.json();
        }).then(json => {
            container.innerHTML = '<b>Thanks for submitting your vacation photo!</b>';
        }).catch(err => {
            console.log(err);
            container.innerHTML = `<b>Sorry.. We had a problem submitting your photo. Please <a href="/contest/vacation-photo-ajax">try agin</a></b>`;
        })
    });
</script>
