<h1>Welcome to YJ Travel</h1>
<p>
    Question? Check out our
    <a href="/about" data-test-id="about">About Us</a> page!
</p>

<hr/>
<p>
    Click the <a href="/newsletter-signup">newsletter-signup with Form action(with flash)</a>
</p>
<p>
    Click the <a href="/newsletter">newsletter-signup with AJAX</a>
</p>


<hr/>
<p>
    Click the <a href="/contest/vacation-photo">vaction photo upload with Form action</a>
</p>
<p>
    Click the <a href="/contest/vacation-photo-ajax">vaction photo upload with AJAX</a>
</p>

<hr/>
<p>
    Click the <a href="/shopping-cart">shopping cart example</a>
</p>