<!DOCTYPE html>
<html>
    <head>
        <title>YJ Travel</title>
    </head>
    <body>
        <header>
            <img src="/img/logo.png" alt="YJ Travel Logo"/>
        </header>
        {{{body}}}
    </body>
</html>