<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="car1" class="di.createObjectProp.Car">
        <constructor-arg value="Avante"/>
        <constructor-arg>
            <bean class="di.createObjectProp.Engine" p:maker="Hyundai" p:cc="1234"/>
        </constructor-arg>
    </bean>

    <bean id="car2" class="di.createObjectProp.Car">
        <property name="model" value="Sonata"/>
        <property name="engine">
            <bean class="di.createObjectProp.Engine" p:maker="Daewoo" p:cc="4321"/>
        </property>
    </bean>


</beans>